<?xml version="1.0"?>
<launch> 
    <node name="super_flow" pkg="hera_tracker" type="new_track_withtf_and_flow.py" output="screen">
    </node>
    <node name="head_orientation" pkg="hera_tracker" type="head_orientation.py" output="screen">
    </node>
    <node name="recovery_mode" pkg="hera_tracker" type="recovery_mode.py" output="screen">
    </node>
</launch>
